
.about{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about .left{
     width: 49%;
     display: flex;
    justify-content: center;
    align-items: center;
}
.rights{
     width: 49%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.right .secondimage{
    width: 400px;
}

@media screen and (max-width:700px) {
    .about{
      
        flex-direction: column;
        
    }
   .about .left{
    width: 100%;
   text-align: center;

    }
}